/* Color Scheme */
// You can generate any color here - https://htmlcolorcodes.com

:root {
  --primary-color: #FFB66F;
  --white: #fff;
  --light-gray: #f1f1f3;
  --lighten-gray: #e4e6eb;
  --light-blue: #e7e7e9;
  --dark-gray: #94a3b8;
  --blue-gray: #757575;
  --gray: #9e9e9e;
  --dark: #10141f;
  --rgb-color: 255, 255, 255;

  --image-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, rgba(0, 0, 0, 0.3) 100%);

  --background-rgba: rgba(var(--rgb-color), 0.9);
  --background-color: var(--white);
  --background-alt-color: var(--light-gray);
  --background-alt-color-2: var(--lighten-gray);

  --text-color: var(--dark);
  --text-alt-color: var(--blue-gray);

  --heading-font-color: var(--dark);

  --link-color: var(--dark);
  --link-color-hover: var(--dark);

  --button-color: var(--white);
  --button-color-hover: var(--dark);
  --button-background-color: var(--dark);
  --button-background-hover: linear-gradient(-20deg, #FF775E 0%, #FFB66F 100%);




  --border-color: var(--light-gray);
  --border-alt-color: var(--light-blue);

  --th-color: var(--light-blue);
  --tr-color: var(--light-gray);

  --callout-note: #c5ecff;
  --callout-tip: #bffbc7;
  --callout-important: #dbccff;
  --callout-warning: #ffe4bc;
  --callout-caution: #ffaeae;

  --syntax-highlighting-background: #272822;
}

:root[dark] {
  --primary-color: #FFB66F;
  --white: #fff;
  --light-gray: #f0f0f0;
  --gray: #9e9e9e;
  --dark: #1a1a1c;
  --rgb-color: 26, 26, 28;
  --background-rgba: rgba(var(--rgb-color), 0.85);
  --background-color: var(--dark);
  --background-alt-color: #292b30;
  --background-alt-color-2: #32343a;

  --image-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, rgba(0, 0, 0, 0.3) 100%);

  --text-color: var(--gray);
  --text-alt-color: var(--gray);

  --heading-font-color: var(--light-gray);

  --link-color: var(--light-gray);
  --link-color-hover: var(--light-gray);

  --button-color: var(--white);

  --border-color: #292b30;
  --border-alt-color: #353535;

  --th-color: var(--background-alt-color);
  --tr-color: var(--background-alt-color-2);

  --callout-note: #2c508a;
  --callout-tip: #386252;
  --callout-important: #54408c;
  --callout-warning: #b6830a;
  --callout-caution: #ad3a3a;

  --syntax-highlighting-background: #292b30;
}