// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 16px;

// Border radius
$global-radius: 12px;

// Transition
$global-transition: all .2s;


// *****************
// Typography
// *****************
$base-font-size: 16px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: 500;
$base-font-family: 'Noto Sans','Noto Sans JP','Noto Sans TC',-apple-system,BlinkMacSystemFont,'PingFang TC','Microsoft JhengHei',sans-serif;
$base-line-height: 1.7;
$base-letter-spacing: normal;

// Headings
$heading-font-weight: 600;
$heading-font-family: 'Noto Sans','Noto Sans JP','Noto Sans TC',-apple-system,BlinkMacSystemFont,'PingFang TC','Microsoft JhengHei',sans-serif;

$font-size-h1: 36px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;

$heading-line-height: 1.3;
$heading-letter-spacing: normal;