/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.is-fixed {
    overflow: hidden;
    -webkit-overflow-scrolling: auto;
  }

  &.disable-animation {
    *, *::after, *::before {
      transition: none !important;
    }
  }
}

.global-wrap {
  &.is-active {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.home-cover {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 460px;
  width: 100%;
  overflow: hidden;

  .home-cover__inner {
    position: relative;
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      will-change: transform;
      background: linear-gradient(180deg, rgba(var(--rgb-color), 0.10), rgba(var(--rgb-color), 1));
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  letter-spacing: $heading-letter-spacing;
  color: var(--heading-font-color);
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

blockquote {
  position: relative;
  margin: 68px 0 40px;
  font-family: $heading-font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: var(--heading-font-color);

  &::before {
    font-size: 300%;
    line-height: .3;
    display: block;
    content: "\201C";
    color: var(--primary-color);
  }

  &.q-left {
    padding: 0 24px;
    margin: 40px 0;
    font-size: 24px;
    text-align: left;
    border-left: 4px solid var(--primary-color);

    &::before {
      content: none;
    }
  }

  p {
    margin-bottom: 0;
  }

  cite {
    display: inline-block;
    margin-top: 12px;
    font-family: $base-font-family;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: var(--heading-font-color);
  }

  @media (max-width: $mobile) {
    &.q-left {
      font-size: 20px;
    }
  }
}

pre {
  overflow: auto;
  padding: 12px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  color: var(--heading-font-color);

  &.highlight {
    &:hover {
      button {
        opacity: 1;
      }
    }
  }

  &.highlight>button {
    opacity: 0;

    &:hover {
      opacity: .9;
    }
  }

  &.highlight>button:active,
  &.highlight>button:focus {
    opacity: 1;
  }

  button {
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 8px 12px;
    border-radius: 12px;
    font-family: $heading-font-family;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    outline: none;
    border: none;
    color: var(--button-color-hover);
    background: var(--button-background-hover);
    opacity: 0;
    transition: all 0.2s ease;
    cursor: pointer;
    will-change: transform;
  }
}

img,
.lightense-wrap {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

img,
.lightense-wrap,
.gallery {
  &+em {
    display: block;
    margin-top: 12px;
    font-family: $heading-font-family;
    font-size: 14px;
    line-height: 1.4;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: var(--text-alt-color);
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: $global-transition;
}

hr {
  width: 100%;
  height: 1px;
  margin: 32px 0;
  border: 0;
  background: var(--border-alt-color);

  @media (max-width: $mobile) {
    margin: 48px 0;
  }
}

.table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

table {
  font-size: 12px;
  color: var(--heading-font-color);
  width: 100%;
  border-width: 1px;
  border-color: var(--border-alt-color);
  border-collapse: collapse;
  color: var(--heading-font-color);
}

table th {
  padding: 10px;
  font-size: 16px;
  text-align: left;
  border: 1px solid var(--th-color);
  color: var(--heading-font-color);
  font-weight: 600;
}

table tr {
  background: var(--tr-color);

  &:nth-child(even) {
    background: transparent;
  }
}

table td {
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--th-color);
}

.lazy {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.lazy.loaded {
  opacity: 1;
}

.lightense-backdrop {
  background-color: var(--background-color) !important;
}