/* Archive Page */
.archive-page__group {
  margin-bottom: 68px;

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  .archive-page__list {
    display: grid;
    grid-template-columns: auto auto;

    @media (max-width: $desktop) {
      grid-template-columns: auto;
    }
  }


  .archive-page__year,
  .archive-page__month {
    sup {
      font-size: 16px;
      font-weight: 400;
      color: var(--text-alt-color);
    }
  }

  .archive-page__year {
    font-size: 22px;
    font-weight: 500;
  }

  .archive-page__month {
    margin-right: 32px;
    font-size: 18px;
    font-weight: 400;

    @media (max-width: $desktop) {
      margin-bottom: 16px;
    }
  }
}

.archive-page__collection {
  margin-bottom: 48px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $mobile) {
    margin-bottom: 32px;
  }
}

.archive-article {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-color);

  .archive-article__title {
    margin-right: auto;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 500;

    a {
      text-decoration: underline;
      text-decoration-color: transparent;
      text-decoration-thickness: 1.5px;
      text-underline-offset: 3px;

      &:hover {
        text-decoration-color: var(--heading-font-color);
        color: var(--heading-font-color);
      }
    }
  }

  .archive-article__excerpt {
    display: -webkit-box;
    margin: 4px 0 0 0;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    overflow-y: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .archive-article__meta {
    flex: 0 0 auto;
    margin-left: 32px;
    line-height: 1;

    .archive-article__date {
      font-family: $heading-font-family;
      color: var(--text-alt-color);
    }

    .archive-article__date {
      font-size: 14px;
    }
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: flex-start;

    .archive-article__title {
      font-size: 16px;
    }

    .archive-article__meta {
      margin-top: 4px;
      margin-left: 0;
    }
  }
}