/* Page + Post */
.page-hero {
  max-width: 500px;
  margin: 0 auto 40px;

  .page-hero__inner {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

    .page-hero__label {
      margin-bottom: 8px;
      font-weight: 500;
      color: var(--text-alt-color);
    }

    .page-hero__title {
      margin-bottom: 12px;
      font-size: 24px;
    }

    .page-hero__description {
      margin-bottom: 0;
    }
  }
}

.page-tags {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 12px;

  .page-tag {
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 12px;
    color: var(--link-color);
    background: var(--background-alt-color);

    &:hover {
      background: var(--background-alt-color-2);
    }
  }
}

.page-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid var(--border-alt-color);
}

.page-meta {
  display: flex;
  align-items: center;
  line-height: 1;

  .page-meta__image {
    position: relative;
    transform: translate(0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
    background: var(--background-alt-color);
    will-change: transform;

    &:hover {
      transform: translateY(-2px);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      user-select: none;
    }
  }

  .page-meta__content {
    font-family: $heading-font-family;
  }

  .page-meta__bottom {
    margin-top: 8px;
    line-height: 1;
    font-size: 14px;
    color: var(--text-alt-color);
  }

  .page-meta__author {
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 2px;
    text-decoration-thickness: 1.2px;
    color: var(--heading-font-color);
    transition: text-decoration-color .2s;

    &:hover {
      text-decoration-color: var(--heading-font-color);
    }
  }
}

.post-head,
.page-head {
  margin-bottom: 48px;
}

.post-image,
.page-image {
  position: relative;
  transform: translate(0);
  padding-top: 56.25%;
  border-radius: 12px;
  overflow: hidden;
  background: var(--background-alt-color);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }
}

.post-video,
.page-video {
  border-radius: 12px;
  overflow: hidden;
  transform: translate(0);
  background-color: var(--background-alt-color);

  .page-video__wrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.post__toc,
.page__toc {
  padding: 12px;
  margin-bottom: 32px;
  font-weight: 500;
  border: 1px solid var(--border-alt-color);
  border-radius: 12px;
  background: var(--background-alt-color);

  summary {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    color: var(--heading-font-color);
    outline: none;
    user-select: none;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background-color: var(--heading-font-color);
      mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM64 256C64 238.3 78.33 224 96 224H480C497.7 224 512 238.3 512 256C512 273.7 497.7 288 480 288H96C78.33 288 64 273.7 64 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z'/></svg>") no-repeat center;
      mask-size: contain;
    }
  }

  .post__toc__list,
  .page__toc__list {
    margin-top: 12px;
    margin-bottom: 0;
    font-family: $base-font-family;
    color: var(--text-alt-color);

    li {
      margin-bottom: 8px;
      line-height: 1.2;
      font-weight: 400;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-weight: inherit;
      }

      &>ul,
      ol {
        margin-top: 8px;
        padding-left: 16px;
      }
    }
  }
}

.page__toc__toggle {
  display: none;
}

.page__toc__header {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  color: var(--heading-font-color);
  outline: none;
  user-select: none;
  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--heading-font-color);
    mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM64 256C64 238.3 78.33 224 96 224H480C497.7 224 512 238.3 512 256C512 273.7 497.7 288 480 288H96C78.33 288 64 273.7 64 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z'/></svg>") no-repeat center;
    mask-size: contain;
  }
}

.post,
.page {
  max-width: 620px;
  margin: 0 auto 68px;
  color: var(--text-color);

  h2:target::before,
  h3:target::before,
  h4:target::before,
  h5:target::before,
  h6:target::before {
    content: "";
    display: block;
    height: 80px;
    margin-top: -60px;
  }

  a:not([class]) {
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: var(--border-alt-color);
    text-decoration-thickness: 1.2px;
    text-underline-offset: 3px;

    &:hover {
      text-decoration-color: var(--link-color);
      color: var(--link-color);
    }
  }

  img, .js-reframe {
    border-radius: 12px;
    overflow: hidden;

    &.lightense-open {
      border-radius: 0;
    }
  }

  img[src$='#wide'] {
    display: block;
    width: 100vw;
    max-width: none;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
    pointer-events: none;
    user-select: none;
  }

  code {
    margin: auto 4px;
    padding: 4px 6px;
    font-size: 14px;
    border-radius: 4px;
    color: var(--heading-font-color);
    background: var(--background-alt-color);
  }

  strong {
    color: var(--heading-font-color);
  }

  .note, .tip, .important, .warning, .caution {
    position: relative;
    padding: 32px 32px 32px 64px;
    font-family: $heading-font-family;
    font-size: 18px;
    border-radius: 12px;
    color: var(--heading-font-color);

    &::after {
      content: "\1F4A1";
      position: absolute;
      top: 32px;
      left: 32px;
      display: block;
    }
  }

  .note {
    background: var(--callout-note);
  }

  .tip {
    background: var(--callout-tip);
  }

  .important {
    background: var(--callout-important);
  }

  .warning {
    background: var(--callout-warning);
  }

  .caution {
    background: var(--callout-caution);
  }

  @media (max-width: $mobile) {
    margin: 0 auto 60px;

    img, .js-reframe, .note, .tip, .important, .warning, .caution {
      border-radius: 8px;
    }
  }
}

/* Share Buttons */
.share {
  .share__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;
  }

  .share__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    opacity: .6;
    color: var(--text-alt-color);

    &.bookmark-btn {
      font-size: 15px;
      transition: $global-transition;
      cursor: pointer;
    }

    &:hover {
      opacity: 1;
      color: var(--link-color);
    }

    &:active {
      transform: translateY(1px) scale(0.95);
    }
  }

  @media (max-width: $tablet) {
    .share__link {
      font-size: 18px;

      &.bookmark-btn {
        font-size: 16px;
      }
    }
  }
}

/* Page Navigation */
.page__navigation {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 40px;

  .page__prev,
  .page__next {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 12px;
    width: 50%;
    padding: 12px;
    border: 1px solid var(--border-alt-color);
    border-radius: 12px;
    background: var(--background-alt-color);

    .prev__image,
    .next__image {
      position: relative;
      transform: scale3d(1, 1, 1);
      display: block;
      width: 100%;
      max-width: 90px;
      flex-shrink: 0;
      border-radius: 8px;
      overflow: hidden;
      background: var(--background-alt-color-2);
      transition: transform .3s ease;
      will-change: transform;

      &:hover {
        transform: translateY(-2px);

        .video-icon {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }

      &::after {
        content: "";
        display: table;
        padding-top: 75%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
        user-select: none;
      }

      .video-icon {
        width: 28px;
        height: 28px;
        border: 1px solid var(--white);
      }
    }

    .prev__box,
    .next__box {
      line-height: 1;

      .page__nav__title {
        margin-top: 4px;
        margin-bottom: 0;
        font-size: 16px;
        line-height: $base-line-height;
        font-weight: 500;

        a {
          text-decoration: underline;
          text-decoration-color: transparent;
          text-decoration-thickness: 1.2px;
          text-underline-offset: 2px;

          &:hover {
            text-decoration-color: var(--heading-font-color);
          }
        }
      }

      .page__nav__prev,
      .page__nav__next {
        font-family: $heading-font-family;
        font-size: 12px;
        color: var(--text-alt-color);
      }
    }
  }

  .page__next {
    justify-content: end;
    text-align: right;
  }

  @media (max-width: $tablet) {
    flex-direction: column;

    .page__prev,
    .page__next {
      width: 100%;
    }
  }
}

/* Related posts */
.related-posts {
  display: none;

  &.is-related {
    display: block;
    margin-top: 48px;
  }

  .article:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $mobile) {
    &.is-related {
      margin-top: 40px;
    }
  }
}

/* Disqus */
.show-comments {
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid var(--border-alt-color);
  border-bottom: 1px solid var(--border-alt-color);

  .show-comments__title {
    margin: 0;
    font-size: 22px;
    line-height: 1;
    font-weight: 500;
  }

  .disqus-button {
    margin-top: 20px;
  }
}

.post__comments {
  &.is-open {
    margin-top: 20px;
  }
}

/* Footnotes */
.footnotes {
  margin-top: 32px;

  ol {
    list-style: none;
    counter-reset: footnotes;

    li {
      margin-top: 4px;
      font-size: 15px;
      counter-increment: footnotes;

      &:before {
        content: counter(footnotes);
        display: inline-block;
        padding: 2px;
        margin-right: 4px;
        width: 20px;
        height: 20px;
        font-size: 11px;
        text-align: center;
        border: none;
        border-radius: 50%;
        color: var(--heading-font-color);
        background: var(--background-alt-color-2);
      }

      p {
        display: inline;
        max-width: 100%;
        font-size: 15px;

        a.reversefootnote {
          vertical-align: sub;
          border: 0;
        }
      }
    }
  }
}

sup a.footnote {
  display: inline-block;
  min-width: 18px;
  height: 18px;
  margin-left: 4px;
  padding: 3px 0;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  border: none;
  border-radius: 50%;
  color: var(--heading-font-color);
  background: var(--background-alt-color-2);

  &:hover {
    background: var(--background-alt-color);
  }
}

/* 404 */
.error {
  text-align: center;

  .error__title {
    margin-bottom: 20px;
    font-size: 100px;
    line-height: 1;
  }

  .error__text {
    color: var(--text-alt-color);
  }

  @media (max-width: $mobile) {
    .error__title {
      font-size: 80px;
    }
  }
}

.dark-mode {
  .disqus-button,
  .error__button {
    background: var(--background-alt-color);

    &:hover {
      color: var(--button-color-hover);
      background: var(--button-background-hover);
    }
  }
}