/* Footer */
.footer {
  margin-top: 68px;

  @media (max-width: $mobile) {
    margin-top: 60px;
  }
}

.footer__inner {
  margin-bottom: 32px;
}

.footer__social {
  margin-bottom: 12px;

  .footer__social__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    .footer__social__item:first-child > .footer__social__link {
      padding-left: 0;
    }
  }

  .footer__social__item {
    margin-bottom: 0;
  }

  .footer__social__link {
    display: flex;
    align-items: center;
    padding: 4px;
    font-size: 18px;
    color: var(--heading-font-color);

    &:hover {
      transform: scale(1.15);
    }
  }
}

.copyright {
  font-family: $heading-font-family;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--text-alt-color);

  a {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 2px;
    color: var(--link-color);

    &:hover {
      text-decoration-color: var(--link-color);
      color: var(--link-color);
    }
  }
}

/* Scroll Button Top */
.top {
  position: fixed;
  bottom: 64px;
  right: -100px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  font-size: 15px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.2), 0px 8px 16px rgba(0, 0, 0, .07), 0px 2px 6px rgba(0, 0, 0, .04);
  background: rgba(255, 255, 255, 0.9);
  color: var(--heading-font-color);
  transition: $global-transition;
  cursor: pointer;

  &:hover {
    i {
      transform: scale(1.15);
    }
  }

  &.is-active {
    right: 20px;
  }

  &.is-single {
    bottom: 20px;
  }

  i {
    transition: $global-transition;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
    background: rgba(255, 255, 255, 0.9);
  }

  @media (max-width: $mobile) {
    bottom: 54px;

    &.is-active {
      right: 12px;
    }

    &.is-single {
      bottom: 12px;
    }
  }
}

/* Toggle Theme */
.toggle-theme {
  position: fixed;
  z-index: 5;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  @media (max-width: $mobile) {
    right: 12px;
    bottom: 12px;
  }
}

.toggle-sun,
.toggle-moon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 12px;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.2), 0px 8px 16px rgba(0, 0, 0, .07), 0px 2px 6px rgba(0, 0, 0, .04);
  background: rgba(255, 255, 255, 0.9);
  color: var(--heading-font-color);
  transition: $global-transition;
  cursor: pointer;

  &:hover {
    svg {
      transform: scale(1.15);
    }
  }

  &:active {
    svg {
      transform: scale(1);
    }
  }

  svg {
    transition: $global-transition;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
    background: rgba(255, 255, 255, 0.9);
  }
}

.toggle-moon {
  display: none;
}

.dark-mode {
  .top,
  .toggle-sun,
  .toggle-moon {
    background: rgba(41, 43, 48, 0.9);

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      -webkit-backdrop-filter: saturate(180%) blur(10px);
      backdrop-filter: saturate(180%) blur(10px);
      background: rgba(41, 43, 48, 0.9);
    }
  }

  .toggle-moon {
    display: flex;
  }

  .toggle-sun {
    display: none;
  }
}