/* Header */
.header {
  position: sticky;
  top: 12px;
  z-index: 10;
  margin-bottom: 80px;
  text-align: center;
  border-radius: 16px;
  background: transparent;
  pointer-events: none;

  .header__inner {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px 24px;
    min-width: 540px;
    padding: 6px 6px 6px 20px;
    border-radius: 16px;
    box-shadow: 0px 36px 80px rgba(0, 0, 0, 0.07), 0px 8px 17px rgba(0, 0, 0, 0.04), 0px 2.4px 5.3px rgba(0, 0, 0, 0.029);
    background: rgba(255, 255, 255, 0.9);
    pointer-events: visible;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      -webkit-backdrop-filter: saturate(180%) blur(10px);
      backdrop-filter: saturate(180%) blur(10px);
      background: rgba(255, 255, 255, 0.5);
    }
  }

  @media (max-width: $desktop) {
    .header__inner {
      justify-content: normal;
      gap: 12px;
      width: 100%;
      max-width: 540px;
      min-width: auto;
    }
  }

  @media (max-width: $mobile) {
    margin-bottom: 72px;
  }
}

.dark-mode {
  .header {
    .header__inner {
      background: rgba(41, 43, 48, 0.9);

      @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        background: rgba(41, 43, 48, 0.7);
      }
    }
  }
}

/* Logo */
.logo__link {
  font-family: $heading-font-family;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
}

.logo__image,
.logo__image__dark {
  max-height: 36px;
  transition: transform .2s ease;
  will-change: transform;

  &:hover {
    transform: scale(1.05);
  }
}

.logo__image__dark {
  display: none;
}

.dark-mode {
  .logo__image {
    display: none;
  }

  .logo__image__dark {
    display: block;
  }
}

/* Nav */
.main-nav {
  display: flex;
  align-items: center;

  @media (max-width: $desktop) {
    position: fixed;
    top: calc(100% + 8px);
    right: 0;
    z-index: -1;
    display: block;
    min-width: 150px;
    padding: 4px;
    border-radius: 12px;
    opacity: 0;
    visibility: hidden;
    background: var(--background-color);
    box-shadow: 0 8px 40px -8px rgba(0, 0, 0, .22);

    &.is-visible {
      z-index: 100;
      opacity: 1;
      visibility: visible;

      .nav__list {
        .nav__item {
          .dropdown-menu {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    .nav__list {
      flex-direction: column;
      width: 100%;
      align-items: normal;
      gap: 0;

      .nav__item {
        &.dropdown {
          margin-top: 3px;
          padding-top: 3px;
          border-top: 1px solid var(--border-alt-color);

          .dropdown-toggle {
            display: none;
          }
        }

        .dropdown-menu {
          position: relative;
          left: 0;
          padding: 0;
          box-shadow: none;
          background: inherit;
        }

        .nav__link {
          display: flex;
          padding: 6px 12px;
          border-radius: 6px;
          font-size: 15px;
          line-height: 21px;
          will-change: transform;

          &:hover {
            padding-left: 14px;
          }

          &:hover,
          &.active-link {
            background: var(--background-alt-color);
          }
        }
      }

      &:hover {
        .nav__link {
          &.active-link {
            color: var(--text-alt-color);
            background: none;

            &:hover {
              color: var(--link-color);
              background: var(--background-alt-color);
            }
          }
        }

        .dropdown-menu {
          .nav__link {
            &.active-link {
              color: var(--text-alt-color);
              background: none;

              &:hover {
                color: var(--link-color);
                background: var(--background-alt-color);
              }
            }
          }
        }
      }
    }
  }
}

.main-nav__box {
  display: flex;
  align-items: center;
  font-size: 0;
  user-select: none;

  @media (max-width: $desktop) {
    display: block;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;

  .nav__item {
    .nav__link {
      font-size: 15px;
      line-height: 21px;
      letter-spacing: normal;
      font-weight: 500;
      color: var(--text-alt-color);
      background: none;
      will-change: transform;

      &:hover {
        color: var(--link-color);
      }

      &.active-link {
        color: var(--link-color);
      }
    }

    &.dropdown {
      position: relative;

      .dropdown-toggle {
        display: flex;
        align-items: center;
        height: 20px;
        cursor: pointer;
      }
    }

    .dropdown-menu {
      position: fixed;
      top: calc(100% + 8px);
      backface-visibility: hidden;
      z-index: 100;
      min-width: 150px;
      display: block;
      padding: 4px;
      opacity: 0;
      visibility: hidden;
      border-radius: 12px;
      box-shadow: 0 8px 40px -8px rgba(0, 0, 0, .22);
      background: var(--background-color);

      &:hover {
        .nav__link {
          &.active-link {
            color: var(--text-alt-color);
            background: none;

            &:hover {
              color: var(--link-color);
              background: var(--background-alt-color);
            }
          }
        }
      }

      &.is-visible {
        opacity: 1;
        visibility: visible;
      }

      .nav__link {
        display: flex;
        padding: 6px 12px;
        border-radius: 6px;
        font-size: 15px;
        line-height: 21px;
        will-change: transform;

        &:hover {
          padding-left: 14px;
        }

        &:hover,
        &.active-link {
          background: var(--background-alt-color);
        }
      }
    }
  }
}

.dark-mode {
  .main-nav {
    .nav__list {
      .dropdown-menu {
        background: var(--background-alt-color);

        &:hover {
          .nav__link {
            &.active-link {
              background: none;

              &:hover {
                background: var(--background-alt-color-2);
              }
            }
          }
        }

        .nav__link {
          &:hover,
          &.active-link {
            background: var(--background-alt-color-2);
          }
        }
      }
    }

    @media (max-width: $desktop) {
      background: var(--background-alt-color);

      .nav__list {

        &:hover {
          .nav__link {
            &.active-link {
              background: none;

              &:hover {
                background: var(--background-alt-color-2);
              }
            }
          }

          .dropdown-menu {
            .nav__link {
              &.active-link {
                background: none;

                &:hover {
                  background: var(--background-alt-color-2);
                }
              }
            }
          }
        }

        .nav__link {
          &:hover,
          &.active-link {
            background: var(--background-alt-color-2);
          }
        }
      }
    }
  }
}

/* Humburger Menu */
.hamburger {
  width: 20px;
  height: 20px;
  text-align: left;
  display: none;
  will-change: transform;
  cursor: pointer;

  @media (max-width: $desktop) {
    display: flex;
    align-items: center;
    margin-left: auto;

    width: 22px;
    height: 22px;

    .hamburger div,
    .hamburger div:after,
    .hamburger div:before {
      width: 22px;
    }
  }
}

.hamburger div,
.hamburger div:after,
.hamburger div:before {
  width: 20px;
  height: 2.4px;
  border-radius: 10px;
  transition: all 0.15s linear;
  background: var(--heading-font-color);
}

.hamburger div:before,
.hamburger div:after {
  content: "";
  position: absolute;
}

.hamburger div:before {
  transform: translateY(-200%);
}

.hamburger div:after {
  transform: translateY(200%);
}

.hamburger.is-open div {
  background: transparent;
}

.hamburger.is-open div:before {
  transform: rotate(45deg);
}

.hamburger.is-open div:after {
  transform: rotate(-45deg);
}

.nav-button {
  display: flex;
  align-items: center;
  gap: 8px;

  .search-icon {
    cursor: pointer;
  }

  @media (max-width: $desktop) {
    gap: 12px;

    .search-icon {
      height: 22px;
      width: 22px;
    }
  }
}