/* Projects */
.project {
  position: relative;
  margin-bottom: 32px;
}

.project__head {
  position: relative;
  transition: transform .3s ease;
  margin-bottom: 16px;

  .bookmark-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 5;
    transform: scale(0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    font-size: 15px;
    border-radius: 8px;
    opacity: 0;
    color: var(--white);
    background: rgba(0, 0, 0, .2);
    transition: all .3s ease;
    will-change: transform;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, .35);
    }

    &.is-bookmarked {
      transform: scale(1);
      opacity: 1;

      &:active {
        transform: translateY(1px) scale(0.95);
      }
    }
  }

  &:hover {
    transform: translateY(-3px);

    .bookmark-btn {
      transform: scale(1);
      opacity: 1;

      &:active {
        transform: translateY(1px) scale(0.95);
      }
    }

    .video-icon {
      transform: translate(-50%, -50%) scale(1.14);
    }
  }

  @media (max-width: $tablet) {
    .bookmark-btn {
      transform: scale(1);
      opacity: 1;
      width: 36px;
      height: 36px;
      font-size: 16px;

      &::before {
        content: "";
        position: absolute;
        top: -12px;
        left: -16px;
        right: -12px;
        bottom: -16px;
        z-index: -1;
      }
    }
  }
}

.project__image {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  user-select: none;
  transform: translate(0);
  overflow: hidden;
  background: var(--background-alt-color);

  &::after {
    content: "";
    display: table;
    padding-top: 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    pointer-events: none;
    transition: transform .3s ease, opacity 0.3s ease-in-out;
  }
}

.project__info {
  .project__label {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--text-alt-color);
  }

  .project__title {
    display: inline-block;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 500;

    .project__link {
      text-decoration: underline;
      text-decoration-color: transparent;
      text-decoration-thickness: 1.5px;
      text-underline-offset: 3px;
      color: var(--heading-font-color);
      transition: $global-transition;

      &:hover {
        text-decoration-color: var(--heading-font-color);
      }
    }
  }

  .project__excerpt {
    display: -webkit-box;
    margin: 8px 0 0 0;
    overflow-y: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.section-related {
  @media (max-width: $wide) {
    .row {
      .project:nth-child(3) {
        display: none;
      }
    }
  }
}