/* Search */
.search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;

  &.is-visible {
    z-index: 100;
    opacity: 1;

    .search__overlay {
      z-index: 10;
      opacity: 1;
      transition: all .2s ease;
    }

    .search__box {
      transform: translateY(-20px);
    }
  }
}

.search__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: linear-gradient(320deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.search__box {
  position: relative;
  z-index: 100;
  max-width: 520px;
  margin: 100px auto 0;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
  background: var(--background-color);
  overflow: hidden;
  will-change: transform;
  transition: all .2s ease;

  @media (max-width: $desktop) {
    margin: 80px auto 0;
  }
}

.search__group {
  position: relative;

  .search__close {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    border-radius: 8px;
    color: var(--text-alt-color);
    background: var(--background-alt-color);
    transition: $global-transition;
    cursor: pointer;

    &:hover {
      color: var(--heading-font-color);
    }
  }

  .search__text {
    width: 100%;
    padding: 24px 68px 24px 24px;
    font-family: $heading-font-family;
    font-size: 18px;
    line-height: 20px;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .10);
    color: var(--heading-font-color);
    background-color: var(--background-color);
    outline: 0;
    transition: $global-transition;

    &::placeholder {
      color: var(--heading-font-color);
    }

    &::-ms-clear {
      display: none;
    }
  }

  @media (max-width: $tablet) {
    .search__close {
      width: 28px;
      height: 28px;
      font-size: 15px;
      line-height: 28px;
    }
  }
}

.search-results-list {
  max-height: 68vh;
  white-space: normal;
  overflow: auto;

  .search-results__link {
    display: block;
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--border-color);
    font-size: 17px;
    text-decoration: none;
    line-height: 1.3;
    font-weight: 500;
    color: var(--heading-font-color);
    transition: none;

    &:first-child {
      padding-top: 24px;
    }

    &:last-child {
      padding-bottom: 24px;
      border-bottom: 0;
    }

    &:hover {
      background: var(--background-alt-color);
    }
  }

  .search-results-title {
    font-family: $heading-font-family;
  }

  .search-results-description {
    display: -webkit-box;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 400;
    overflow-y: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: var(--text-alt-color);
  }

  .no-results {
    width: 100%;
    margin: 0;
    padding: 20px 24px;
    font-size: 18px;
    font-weight: 400;
    color: var(--text-alt-color);
  }

  @media (max-width: $mobile) {
    .search-results__link {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 16px;
    }
  }
}

.dark-mode {
  .search__box {
    background: var(--background-alt-color);

    .search__close {
      background: var(--background-alt-color-2);
    }
  }

  .search__text {
    box-shadow: 0 1px 1px rgba(255, 255, 255, .10);
    background: var(--background-alt-color);
  }

  .search-results__link {
    border-bottom: 1px solid var(--border-alt-color);

    &:hover {
      background: var(--background-alt-color-2);
    }
  }
}