/* Section Resources */
.section-resources {
  .row .row {
    gap: 32px 0;
  }
}

.resource {
  &:nth-child(odd) {
    transform: rotate(2deg);
    margin-bottom: 4px;
  }

  &:nth-child(2n) {
    z-index: 2;
    transform: rotate(-2deg);
    margin-top: 4px;
  }

  @media (max-width: $desktop) {
    &:nth-child(odd),
    &:nth-child(2n) {
      transform: rotate(0deg);
      margin: 0;
    }
  }
}

.resource__image {
  position: relative;
  transform: translate(0);
  display: block;
  height: 0;
  padding-bottom: 75%;
  border-radius: 12px;
  background: var(--background-alt-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  transition: transform .3s ease;
  overflow: hidden;

  &:hover {
    transform: translateY(-3px);
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }

  .resource__name {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 1;
    max-width: 87%;
    display: inline-block;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 30px;
    color: var(--heading-font-color);
    background: var(--background-color);
    pointer-events: none;
  }

  @media (max-width: $desktop) {
    padding-bottom: 56.25%;
  }
}