/* Sections */
.section {
  margin-bottom: 68px;

  &.videos-page,
  &.clients-page,
  &.section-related,
  &.services,
  &.projects,
  &.tags,
  &.latest {
    .section__inner {
      margin-bottom: -32px;
    }
  }

  @media (max-width: $mobile) {
    margin-bottom: 60px;
  }
}

.section__hero {
  max-width: 400px;
  margin: 0 auto 68px;
  text-align: center;

  .section__hero__title {
    margin-bottom: 12px;
    font-size: 24px;
  }

  .section__hero__description {
    margin-bottom: 0;

    span {
      color: var(--heading-font-color);
    }
  }

  @media (max-width: $mobile) {
    margin: 0 auto 60px;
  }
}

.section__head {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 16px;
}

.section__title {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;
}