<!DOCTYPE html>
<html lang="zh-Hant">

{% include head.html %}

<body {% if page.url == "/" %}class="home-page"{% endif %}>

  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  <!-- begin global wrap -->
  <div class="global-wrap">

    {% include header.html %}

    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ content }}
    </main>
    <!-- end content -->

    {% include footer.html %}

  </div>
  <!-- end global wrap -->

  <div class="overlay"></div>

  <script src="{{ '/js/scripts.js' | relative_url }}"></script>
  <script src="{{ '/js/common.js' | relative_url }}"></script>
</body>

<!-- 引入 OhMyLive2D -->
<!--
<script src="https://unpkg.com/oh-my-live2d@latest"></script>
<script>
  OML2D.loadOml2d({
    models: [
      {
        path: 'https://model.hacxy.cn/HK416-1-normal/model.json',
        position: [0, 60],
        scale: 0.08,
        stageStyle: { height: 450 }
      }
    ]
  });
</script>
-->

</html>